@model Intra.Models.UserViewModel.RegisterUser
@{
    ViewData["Title"] = "Register";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="bg-danger">
            <p class="text-center text-white">@ViewBag.errors</p>
        </div>
        <div class="bg-success">
            <p class="text-center text-white">@ViewBag.success</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <form asp-action="RegisterUser" asp-controller="Employee" method="POST">
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="Name"></span>
                </div>
                <input asp-for="Name" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="Email"></span>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="Birthday"></span>
                </div>
                <input asp-for="Birthday" class="form-control" placeholder="Birthday">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="Password"></span>
                </div>
                <input asp-for="Password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="bg-danger">
                    <span asp-validation-for="Confirm"></span>
                </div>
                <input asp-for="Confirm" class="form-control" placeholder="Confirm Password">
            </div>
            <input type="submit" value="Register" class="btn btn-success btn-round">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-3">
        <p class="lead text-center">Need to log in instead? <a asp-action="Login" asp-controller="Employee" asp-area="" class="btn btn-round btn-info">Login</a></p>
    </div>
</div>