@model Intra.Models.User
@{
    ViewData["Title"] = "Add User";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="bg-danger">
            <p class="text-center text-white">@ViewBag.errors</p>
        </div>
        <div class="bg-success">
            <p class="text-center text-white">@ViewBag.success</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-7 offset-md-3">
        <h1 class="text-center text-info">@ViewData["Title"]</h1>
        <div class="card shadow-lg">
            <div class="card-content">
                <form asp-action="AddUser" asp-controller="User" method="post">
                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input asp-for="Birthday" class="form-control" placeholder="Birthday">
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>