@{
    ViewData["Title"] = "Intra Dashboard";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="bg-danger">
            <p class="text-center text-white">@ViewBag.errors</p>
        </div>
        <div class="bg-success">
            <p class="text-center text-white">@ViewBag.success</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="text-left text-info">@ViewBag.TheUser.FirstName @ViewBag.TheUser.LastName</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-3 mt-5 mb-5">
        <a href="Users" class="btn btn-info btn-block btn-round">Users</a>
    </div>
    <div class="col-12 col-md-3 mt-5 mb-5">
        <a href="Todos" class="btn btn-success btn-block btn-round">Todos</a>
    </div>
    <div class="col-12 col-md-3 mt-5 mb-5">
        <a href="Calendar" class="btn btn-primary btn-block btn-round">Calendar</a>
    </div>
    <div class="col-12 col-md-3 mt-5 mb-5">
        <a href="Logout" class="btn btn-danger btn-block btn-round">Logout</a>
    </div>
</div>