@{
    ViewData["Title"] = "Intra";
}

<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="text-left text-info">@ViewData["Title"]</h1>
            <hr class="bg-info">
            <p class="text-left">Welcome to your companies intranet.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4">
        <h1 class="text-info text-center">Heading 1</h1>
        <hr class="bg-info">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iure maxime mollitia similique, ullam voluptatum.</p>
    </div>
    <div class="col-12 col-md-4">
        <h1 class="text-info text-center">Heading 2</h1>
        <hr class="bg-info">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iure maxime mollitia similique, ullam voluptatum.</p>
    </div>
    <div class="col-12 col-md-4">
        <h1 class="text-info text-center">Heading 3</h1>
        <hr class="bg-info">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iure maxime mollitia similique, ullam voluptatum.</p>
    </div>
</div>