<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Intra</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/now-ui-kit.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <nav class="bg-info navbar-light p-2">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-white" href="Index">Home</a>
            </li>
            @if (ViewBag.TheUser == null)
            {
                <li class="nav-item">
                    <a class="nav-link text-white" href="Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="Login">Login</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-white" href="Logout">Logout</a>
                </li>
            }
        </ul>
    </nav>
<div class="container-fluid">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">

    </div>
</footer>

<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>
<script src="~/assets/js/core/bootstrap.min.js"></script>
<script src="~/assets/js/now-ui-kit.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>
<script type="text/javascript">	
			$(document).ready(function () {
				$('#calendar').fullCalendar({
        			header: {
            			left: 'prev,next today',
            			center: 'title',
            			right: 'month,agendaWeek,agendaDay'
					},
            		firstDay: 1, //The day that each week begins (Monday=1)
            		slotMinutes: 60,
            		events: '@Url.RouteUrl(new{ action="GetEvents", controller="Calendar"})'
        		});
    		});
</script>
@RenderSection("Scripts", required: false)
</body>
</html>